.undroppedItem {
  font-size: 16px;
  z-index: 1;
}
.droppedItem {
  border: 2px solid #007bff;
  font-size: 48px;
  z-index: 1;
  box-sizing: border-box;
  width: 7.5%;
  aspect-ratio: 1 / 1;
  display: inline-block;
  background: #f8f9fa;
}

.droppedItem:hover {
  background: #e9ecef;
}
